<section class="publicarDuvidaView">
    <h1 class="publicarDuvidaTitle">PUBLICAR DUVIDA</h1>
    <div class="publicarDuvidaInputs">
        <div class="tituloBlock">
            <label>Titulo: </label>
            <input #titulo_box type="text" name="titulobox"/>
        </div>
        <div class="assuntoBlock">
            <label>Assunto: </label>
            <input #assunto_box type="text" name="assuntobox"/>
        </div>
        <div class="assuntoBlock">
            <label>Status: </label>
            <input #status_box type="text" name="assuntobox"/>
        </div>
        <div class="descricaoBlock">
            <label>Descricao: </label>
            <input #descricao_box type="text" name="descricaobox"/>
        </div>
        
    </div>
    <button name=botao_publicar (click)="cadastrarDuvida(titulo_box.value, true, assunto_box.value, descricao_box.value)"> Cadastrar </button>
    <div class="addSpace">
        <div class="notifcacao" [ngClass]="notificacaoClasses" name="notifica" id="notifica"><span class="notifcacaotxt" name="notificatxt_publicacao" id="notificatxt">{{notificacaoTexto}}</span></div>
        <div class="button" (click)="controla_notificacao(false)">
            <div class="b1"></div>
            <div class="b2"></div>
        </div>
    </div>

    <tr *ngFor="let d of ExibidasDuvidas" name="duvidalist">
        <td name="titulolist">{{d.titulo}}</td>
        <td name="assuntolist">{{d.assunto}}</td>
        <td name="statuslist">{{d.status}}</td>
        <td name="descricaolist">{{d.descricao}}</td>
    </tr>
</section>
