<section class="cadastroView">
    <h1 class="cadastroTitle">CADASTRO</h1>
    <div class="cadastroInputs">
        <div class="cpfBlock">
            <label>CPF: </label>
            <input type="text" />
        </div>
        <div class="nomeBlock">
            <label>Nome: </label>
            <input type="text" />
        </div>
        <div class="emailBlock">
            <label>E-mail: </label>
            <input type="text" />
        </div>
        <div class="senhaBlock">
            <label>Senha: </label>
            <input type="text" />
        </div>
    </div>
</section>