<section class="cadastroView">
    <h1 class="cadastroTitle">CADASTRO</h1>
    <div class="cadastroInputs">
        <div class="cpfBlock">
            <label>CPF: </label>
            <input #cpf_box type="text"/>
        </div>
        <div class="nomeBlock">
            <label>Nome: </label>
            <input #nome_box type="text"/>
        </div>
        <div class="emailBlock">
            <label>E-mail: </label>
            <input #email_box type="text"/>
        </div>
        <div class="senhaBlock">
            <label>Senha: </label>
            <input #senha_box type="text"/>
        </div>
    </div>
    <button (click)="cadastrarUsuario(cpf_box.value, nome_box.value, email_box.value, senha_box.value)"> Cadastrar </button>
</section>
