<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/cadastro">Cadastro</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/login">Login</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/criar_turma">CRIAR TURMA</a>
    </div>
    <div>
        <a name="duvidalink" mat-button class = "navbar-link" routerLink = "/duvida">DUVIDAS</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/minha_conta">MINHA CONTA</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/minhas_turmas">MINHAS TURMAS</a>
    </div>>
</nav>