<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="cadastrar" routerLink = "/cadastro">Cadastro</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="login" routerLink = "/login">Login</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/minha_conta">Minha Conta</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="criar_turma" routerLink = "/criar_turma">Criar Turma</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="minhas_turmas" routerLink = "/minhas_turmas">Minhas Turmas</a>
    </div>
</nav>