<nav>
    <div class = "links">
        <a mat-button class = "navbar-link" name="cadastrar" routerLink = "/cadastro">CADASTRO</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="login" routerLink = "/login">LOGIN</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" routerLink = "/minha_conta">MINHA CONTA</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="criar_turma" routerLink = "/criar_turma">CRIAR TURMA</a>
    </div>
    <div class = "links">
        <a mat-button class = "navbar-link" name="minhas_turmas" routerLink = "/minhas_turmas">MINHAS TURMAS</a>
    </div>
</nav>