body {
    margin: 0;
    background-image: url("background1.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}