<div *ngIf='!typeUser'>

    <section class="turmaView">
        <h1 class="turmaTitle">MINHAS TURMAS</h1>
        
        <h2 *ngIf='turmas.length === 0'>Nenhuma turma cadastrada no momento.</h2>
        <div *ngFor="let t of turmas; let i = index" class="turmaContainer">

            <div class = "links">
                <a mat-button class = "gerenciar-turma-link" routerLink = "/gerenciamento_turma" (click)="envia_turma(t.Codigo)" >{{t.Nome}}</a>
            </div>
        </div>
    </section>
</div>

<div *ngIf='typeUser'>

    <section class="turmaView">
        <h1 class="turmaTitle">MINHAS TURMAS</h1>
        
        <h2 *ngIf='turmas.length === 0'>Nenhuma turma cadastrada no momento.</h2>
        <div *ngFor="let t of turmas; let i = index" class="turmaContainer">

            <div *ngIf="lista_status[i] == 'Pendente'">

                <div class = "links">
                    <a mat-button class = "gerenciar-turma-link" routerLink = "/" >{{t.Nome}}</a>
                </div>

                <button (click)="aceita_convite(t.Codigo)"> Aceitar </button>
                <button (click)="rejeita_convite(t.Codigo)"> Rejeitar </button>

            </div>

            <div *ngIf="!(lista_status[i] == 'Pendente')">

                <div class = "links2">
                    <a mat-button class = "gerenciar-turma-link" routerLink = "/"  style="color:#ff00ff;">{{t.Nome}}</a>
                </div>

            </div>

        </div>
    </section>
</div>