<section class="notificadorView">
    
    <div *ngIf='alguem_logado'>
        <div class="notificacoes">
            <div class="notifcacao" [ngClass]="notificador" name="notifica" id="notifica"><h1 class="notificadorTitle">Notificações - {{nome_user}}</h1></div>
            <tr *ngFor="let a of notificador.notificacoes" name="notiflist">
            <td><li>{{a}}</li></td> 
            </tr>
        </div>
        <button (click)="atualizarNotificacoes()"> Atualizar </button>
        <button (click)="limparNotificacoes()"> Limpar </button>
    </div>
    <div *ngIf='!alguem_logado'>
        <h1 class="notificadorTitle">Notificações</h1>
        <button (click)="atualizarNotificacoes()"> Atualizar </button>
    </div>
</section>