.notificadorView {
    margin: auto;
    width: 30%;
    border: 2px solid grey;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35);
}

.notificadorTitle{
    margin-top: -2px;
    text-align: center;
}

.turmaContainer{
    padding: 10px;
    align-items: center;
    font-size: 22px;
}
