<section class="duvidaView">
    <h1 class="duvidaTitle">DUVIDA</h1>
        <nav>
            <div class = "link">
                <a mat-button class = "duvida-link" routerLink = "/buscar">Buscar</a>
            </div>
            <div class = "link">
                <a mat-button class = "duvida-link" routerLink = "/exibir_duvida">Exibir</a>
            </div>
            <div class = "link">
                <a name="publicarlink" mat-button class = "duvida-link" routerLink = "/publicar_duvida">Publicar</a>
            </div>
            <div class = "link">
                <a mat-button class = "duvida-link" routerLink = "/responder_duvida">Responder</a>
            </div>
        </nav>