
    <section class="turmaView">
        <h1 class="turmaTitle">{{turma.Nome}}</h1>

        <div class = "links" style="padding-bottom: 20px;">
            <a mat-button class = "visitar-canais-link" routerLink = "/canais" >Visite os canais da turma!</a>
        </div>

        <div class="turmaInputs">
            <div class="nomeBlock">
                <label>Nome: </label>
                <input #nome_box type="text" value = {{turma.Nome}}/>
            </div>
            <div class="codigoBlock">
                <label>Codigo: </label>
                <input #codigo_box type="text" value = {{turma.Codigo}}/>
            </div>
            <div class="semestreBlock">
                <label>Semestre: </label>
                <input #semestre_box type="text" value = {{turma.Semestre}}/>
            </div>       
        </div>
        <button (click)="atualiza(nome_box.value, codigo_box.value, semestre_box.value)"> Atualizar </button>
        <div class="addSpace">
            <div class="notifcacao" [ngClass]="notificacaoClasses" name="notifica" id="notifica"><span class="notifcacaotxt" name="notificatxt" id="notificatxt">{{notificacaoTexto}}</span></div>
            <div class="button" (click)="controla_notificacao(false)">
                <div class="b1"></div>
                <div class="b2"></div>
            </div>
        </div>

        <h2> Convite de novos alunos </h2>

        <div class="novosAlunosInputs">
            <div class="EmailBlock">
                <label>Email: </label>
                <input #email_box type="text"/>
            </div>

        </div>
        <button (click)="convidar(email_box.value)"> Convidar </button>

        <div class="alunosList">

            <h3 *ngIf='turma.Lista_de_alunos.length === 0'>Nenhum aluno cadastrado nessa turma.</h3>

            <table class="listaAlunosConvidados">
                <tr *ngIf="turma.Lista_de_alunos.length > 0">

                    <th class="tituloLinha">Nome</th>
                    <th class="tituloLinha">CPF</th>
                    <th class="tituloLinha">e-mail</th>
                    <th class="tituloLinha"> Status</th>
                </tr>
                <tr *ngFor="let a of turma.Lista_de_alunos" name="alunolist">
                <td name="nomelist">{{a[0]["nome"]}}</td>
                <td name="cpflist">{{a[0]["cpf"]}}</td>
                <td>{{a[0]["email"]}}</td>
                <td>{{a[1]}}</td>
                </tr>
            </table>
        </div>

        <div class="deleteBlock">
            <label>Voce deseja deletar a sua turma do sistema? </label>
            <button (click)="deleta()"> Deletar </button>
        </div>
        
    </section>