<section class="loginView">
    <h1 class="loginTitle">LOGIN</h1>
    <div class="loginInputs">
        <div class="emailBlock">
            <label>E-mail: </label>
            <input #email_box id="email" type="text"/>
        </div>
        <div class="senhaBlock">
            <label>Senha: </label>
            <input #senha_box id="senha" type="text"/>
        </div>        
    </div>
    <button (click)="fazerLogin(email_box.value, senha_box.value)" id="botao_login"> Entrar </button>
    <div class="addSpace">
        <div class="notifcacao" [ngClass]="notificacaoClasses" name="notifica" id="notifica"><span class="notifcacaotxt" name="notificatxt" id="notificatxt">{{notificacaoTexto}}</span></div>
        <div class="button" (click)="controla_notificacao(false)">
            <div class="b1"></div>
            <div class="b2"></div>
        </div>
    </div>
</section>
